InProgress/
AstPy-015 Ring Dynamics/testing
AstPy-001 Intro Activities/InProgress
AstPy-001 Intro Activities/4 Pandas and Matplotlib/myfirstplot.jpg
AstPy-001 Intro Activities/4 Pandas and Matplotlib/planets+radii.csv
AstPy-002 Intermediate Intro Activities/InProgress
AstPy-003 Stellar Fusion/BE Media
AstPy-004 Solar Images/data
AstPy-004 Solar Images/sunAIA.png
AstPy-004 Solar Images/sunFlare.png
AstPy-004 Solar Images/sunSunspots.png
AstPy-004 Solar Images/sunpydata.sqlite
AstPy-006 Sunspots/data
AstPy-006 Sunspots/Images
AstPy-006 Sunspots/Plotly
AstPy-006 Sunspots/myTrackedSunspots.png
AstPy-007 Lunar Surface/The diameter and heights of lunar craters - Exeter Lab
AstPy-007 Lunar Surface/catalan/RDR_272E273E_46p130529S45SPointPerRow_csv_table
AstPy-007 Lunar Surface/catalan/gif_files
AstPy-007 Lunar Surface/skyfield_old
AstPy-007 Lunar Surface/figures/Lunar_LROC_WAC_GLD100_ClrShade_79s79n_9216_LARGE.jpg
AstPy-010 Planetary Atmospheres/references
AstPy-015 Ring Dynamics/myimages
AstPy-015 Ring Dynamics/Images/pdsrms-2020-06-29T08-49-23-948644-data-z
AstPy-015 Ring Dynamics/Articles
